<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>UMS</title>

    <!-- Bootstrap -->
    <link href="{{ asset('assets/css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
        
        .active{
            	background-color: #aaa;
        }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            {#<li role="presentation" class="active"><a href="#">Home</a></li>
            <li role="presentation"><a href="#">About</a></li>
            <li role="presentation"><a href="#">Contact</a></li>#}
          </ul>
        </nav>
        <h3 class="text-muted">User List</h3>
      </div>

        <table class="table">

            <thead>
                <tr>
                    <td>S. No</td>
                    <td>First Name</td>
                    <td>Last name</td>
                    <td>School</td>
                    <td>College</td>
                    <td>Blood Group</td>
		    <td>Gender</td>
                    <td>Date Of Birth</td>
                    <td>Edit</td>
                    <td>View</td>
                </tr>
            </thead>
            <tbody>
                {% for user in usersList %}
                    <tr>
                        <td>{{ (loop.index) + (3 *(pageId - 1)) }} </td>
                        <td>{{ user.firstName}}</td>
                    <td>{{ user.lastName }}</td>
                    <td>{{ user.schoolName }}</td>
                    <td>{{ user.collegeName }}</td>
                    <td>{{ user.bloodGroup }}</td>
                    <td>{{ user.gender }}</td>
                    <td>{{ user.dateOfBirth|date("m/d/Y") }}</td>
                    <td><a href="{{ path('user_editpage',{'id':user.id}) }}">Edit</a></td>
                    <td><a href="{{ path('user_viewpage',{'id':user.id}) }}">View</a></td>
                    </tr>
                    
    {% endfor %}
    
    
                
            </tbody>
            
        </table>
{#    {{dump(usersList)}}#}
    <a {% if pageId == 1 %} class="active" {% endif %} href="{{ path('user_listpage',{'pageId':1}) }}">First|</a>
    {% for page in usersList.getLinks  %}
        <a {% if page == pageId %} class="active" {% endif %} href="{{ path('user_listpage',{'pageId':page}) }}">Page{{ page }}|</a>
        {% endfor %}
        <a {% if pageId == usersList.lastPage %} class="active" {% endif %} href="{{ path('user_listpage',{'pageId':usersList.lastPage}) }}">Last</a>
    </div>
        

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{ asset('assets/js/bootstrap.min.js') }}"></script>
  </body>
</html>


{#{{dump(form)}}#}


